.slick-track, .slick-list {
  display: flex;
}

.slick-slide > div {
  margin: 0 0.8rem;
  flex: 1 0 auto;
  height: 100%;
}

.slick-list {
  margin: 0 -0.8rem;
}

.slick-prev, .slick-next {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2.2rem;
  height: 2.2rem;
  transform: translate(0, -50%);
}

.slick-prev {
  left: -3.5rem;
}
.slick-next {
  right: -3.5rem;
}

.slick-prev:hover, .slick-next:hover {
  color: rgba(155,155,155)
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  visibility: hidden;
}
